$primary_color: #00756c !default;
$secondary_color: #ffffff !default;


*,body {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	font-family: Helvetica, Arial, sans-serif;
    font-weight: 400;
}
.main-container {
	max-width: 1920px;
	margin: 0 auto;
	.inner-container {
		margin: 0 auto;
		max-width: 1350px;
	}
}
h1 {
    font-size: 26px;
}
h2 {
    font-size: 14px;
    font-weight: bold;
}
ul {
	padding :0px;
	li {
		list-style: none;
		a {
			text-decoration: none ;
		}
	}
}
input, textarea {
	height: 68px;
	width: 398px;
	background-color: $secondary_color;
	border: 1px solid $primary_color;
	outline: none;
	padding: 10px;
	border: 1px solid $primary_color;
}
button {
	background-color: $secondary_color;
	border: 1px solid $primary_color;
	width: 204px;
	height: 53px;
	outline: none;
    cursor: pointer;
    font-size: 16px;
	text-align: center;
	line-height: 53px;
	border: 1px solid $primary_color;
	&:hover {
		background-color: $primary_color;
		color: $secondary_color;
		transition: 2s;
	}
	&:active {
		background-color: $primary_color;
		color: $secondary_color;
	}
}
label {
	display: block;
	margin-bottom: 10px;
}

.border {
	border-bottom: 1px solid #0a0a0a;
}