@media (min-width: 320px) and (max-width: 767px) {
}
@media (min-width: 768px) and (max-width: 1023px) {
}
@media (min-width: 1024px) and (max-width: 1352px) {
}
.main-container {
    .banner {
        background-image: url("../images/banner-1.png");
        height: 400px;
        background-size: cover;
        position: relative;
        margin-bottom: 20px;
        // @media (min-width: 320px) and (max-width: 767px) {
        //     z-index: -1;
        // }
        .inner-container {
            .banner-box {
                width: 340px;
                margin: 0 auto;
                color: $secondary-color;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                @media (min-width: 320px) and (max-width: 767px) {
                    padding: 15px;
                    width: 100%;
                }
                h1 {
                    font-size: 90px;
                    font-family: "Yellowtail", cursive;
                    @media (min-width: 320px) and (max-width: 767px) {
                        font-size: 60px;
                    }
                }
                
                p {
                    font-size: 20px;
                    font-family: "Fira Sans", sans-serif;
                }
            }
            .banner-btn {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                grid-gap: 10px;
                position: absolute;
                bottom: 0;
                left: 50%;
                text-align: center;
                transform: translate(-50%, 50%);
                z-index: 2;
                @media (min-width: 320px) and (max-width: 767px) {
                    display: grid;
                    grid-template-columns: 1fr 1.5fr 1fr;
                    grid-gap: 7px;
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    transform: translate(-50%, 50%);
                    padding: 7px;
                }
                a {
                    font-weight: 600;
                    text-decoration: none;
                    background: white;
                    height: 53px;
                    // width: 204px;
                    padding: 0px 32px;
                    line-height: 53px;
                    border: 2px solid $primary-color !important;
                    cursor: pointer;
                    color: #000000;
                    display: block;
                    @media (min-width: 1024px) and (max-width: 1352px) {
                        padding: 0px;
                        width: 204px;
                    }
                    &:hover{
                        background:$primary-color;
                        color: #ffffff;
                        transition: 2s;
                    }
                    span{
                        font-weight: 600;
                        line-height: 48px;
                    }
                    @media (min-width: 320px) and (max-width: 767px) {
                        width: 100%;
                        padding: 0px 18px;
                    }
                    .mobile-display {
                        display: none;
                        @media (min-width: 320px) and (max-width: 767px) {
                            display: block;
                        }
                        @media (min-width: 768px) and (max-width: 1023px) {
                            display: block;
                        }
                    }
                    .mobile-hide {
                        display: block;
                        @media (min-width: 320px) and (max-width: 767px) {
                            display: none;
                        }
                        @media (min-width: 768px) and (max-width: 1023px) {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}
