.contant {
    padding-top: 24px;
    .inner-container {
        margin-bottom: 40px;
        .book-a-table {
            
            width: 748.97px;
            margin: 0 auto;
            text-align: center;
            padding-bottom: 22px;
            @media (min-width: 320px) and (max-width: 767px) {
                width: inherit;
                position: relative;
            }
            
            
            h3 {
                text-align: center;
                margin-bottom: 24px;
                font-size: 1.5em;
                input {
                    height: 52px;
                }
            }
            
            .inputs-section {
                height: 52px;
                display: grid;
                grid-template-columns: 52px 266px 83px 250px 98px;
                @media (min-width: 320px) and (max-width: 767px) {
                    display: table-footer-group;
                }
                i {
                    color: white;
                    background-color: $primary_color;
                    height: 53px;
                    display: grid;
                    place-items: center;
                    cursor: pointer;
                    @media (min-width: 320px) and (max-width: 767px) {
                        width: 52px;
                        display: inline-block;
                        height: 53px;
                        line-height: 52px;
                        font-size: 14px;
                    }
                    @media (min-width: 768px) and (max-width: 1023px) {
                        height: 53px;
                    }
                    @media (min-width: 1024px) and (max-width: 1352px) {
                        height: 53px;
                    }
                }
                p {
                    display: inline-block;
                    
                    input {
                        width: 266px;
                        height: 53px;
                        border-color: $primary_color;
                        box-shadow: inset 0 0 0 2px $primary_color;
                        color: #707070;
                        padding: 0 24px;   
                    }
                }
                ::placeholder {
                    color: #c2c2c2;
                }
                p {
                    // display: inline-block;
                    // height: 52px;
                    // text-align: center;
                    display: grid;
                    place-items: center;
                    @media (min-width: 320px) and (max-width: 767px) {
                        display: inline-block;
                        height: 52px;
                        line-height: 52px;
                        
                    }
                }
                .div-select {
                    position: relative;
                    select {
                        height: 52px;
                        padding: 0 24px;
                        box-shadow: inset 0 0 0 2px $primary_color;
                        border-color: $primary_color;
                        color: #c2c2c2;
                        -webkit-appearance: none;
                        cursor: pointer;
                        optgroup {
                            color: #707070;
                            option {
                                color: #c2c2c2;
                            }
                        }
                        @media (min-width: 320px) and (max-width: 767px) {
                            display: inherit;
                        }
                    }
                    i {
                        font-size: 22px;
                        width: 24px;
                        height: 24px;
                        border-radius: 50px;
                        color: #00756c;
                        background-color: white;
                        position: absolute;
                        top: 15px;
                        right: 0;
                        cursor: pointer;
                        @media (min-width: 320px) and (max-width: 767px) {
                            top: 3px;
                            right: 70px;
                        }
                    }
                }
                
                a {
                    text-decoration: none;
                    display: block;
                    @media (min-width: 320px) and (max-width: 767px) {
                        width: 52px;
                    }
                    @media (min-width: 768px) and (max-width: 1023px) {
                        width: 98px;
                    }
                    @media (min-width: 1024px) and (max-width: 1352px) {
                        width: 98px;
                    }
                    button {
                        width: 98px;
                        height: 52px;
                        background-color: $primary_color;
                        color: white;
                        @media (min-width: 320px) and (max-width: 767px) {
                            position: absolute;
                            right: 2px;
                            top: 157px;
                        }
                        @media (min-width: 768px) and (max-width: 1023px) {
                            width: 98px;
                        }
                        @media (min-width: 1024px) and (max-width: 1352px) {
                            width: 98px;
                        }
                    }
                }
            }
            
        }
    }
    .inner-container {
        .table {
            display: grid;
            grid-template-columns: 1fr 1fr;
            text-align: center;
            div {
                padding: 0 20px;
                &:first-child {
                    border-right: 1px solid black;
                    
                    @media (min-width: 320px) and (max-width: 767px) {
                        border-right: none;
                    }
                    @media (min-width: 768px) and (max-width: 1023px) {
                        border-right: none;
                    }
                    
                }
                
                h2 {
                    margin-bottom: 12px;
                    font-size: 1.75em;
                    @media (min-width: 320px) and (max-width: 767px) {
                        width: 275px;
                    } 
                }

                hr {
                    width: 150px;
                    border-top: 2px solid #0a0a0a;
                    margin: 0 auto;
                    margin-bottom: 12px;
                    @media (min-width: 320px) and (max-width: 767px) {
                        width: 100px;
                        
                    } 
                }
                p {
                    width: 443px;
                    margin: 0 auto;
                    margin-bottom: 12px;
                    line-height: 26px;
                    @media (min-width: 320px) and (max-width: 767px) {
                        width: 272px;
                    } 
                }
                img {
                    margin: 0 auto;
                    display: block;
                    width: 580px;
                    height: 303.19px;
                    margin-bottom: 40px;
                    @media (min-width: 320px) and (max-width: 767px) {
                        width: 100%
                    } 
                    @media (min-width: 768px) and (max-width: 1023px) {
                        width: 650px;
                        height: 350px;
                    }
                    @media (min-width: 1024px) and (max-width: 1352px) {
                        width: 440px;
                        height: 320px;
                    }
                }
                button {
                    width: 149.53px;
                    height: 52px;
                    background-color: $primary_color;
                    color: white;
                    &:hover {
                        background-color: $secondary_color;
                        color: $primary_color;
                    }
                    @media (min-width: 320px) and (max-width: 767px) {
                        margin-bottom: 20px;
                    } 
                    @media (min-width: 768px) and (max-width: 1023px) {
                        margin-bottom: 20px;

                    }
                }
                
                
            }
            @media (min-width: 320px) and (max-width: 767px) {
                display: grid;
                grid-template-columns: 1fr;
            } 
            @media (min-width: 768px) and (max-width: 1023px) {
                display: grid;
                grid-template-columns: 1fr;
                grid-gap: 30px;
            }
            @media (min-width: 1024px) and (max-width: 1352px) {
                display: grid;
                grid-template-columns: 500px 500px;
            }
        }
    }
}